html {
  font-size: 10px;
  font-family: "sans-serif";
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

h1 {
  font-family: "billabong";
  text-align: center;
  font-size: 13rem;
  font-weight: 100;
  margin: 20px 0;
  letter-spacing: -1px;
  color: black;
}

@font-face {
  font-family: "billabong";
  src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff")
      format("woff"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf")
      format("truetype"),
    url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular")
      format("svg");
}

.photo-gallery {
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.figure {
  border: 2px solid #d3d3d3;
  flex-basis: calc(33.333% - 4rem);
  padding: 20px;
  flex-grow: 1;
}

.photo-container {
  max-height: 200px;
}

.photo {
  width: calc(100% + 4rem);
  margin: -2rem 0rem 0rem -2rem;
  border-bottom: 2px solid #d3d3d3;
  object-fit: cover;
  max-height: 200px;
}

.remove-button-container {
  display: flex;
  justify-content: center;
}

.remove-button {
  color: red;
  flex-basis: 48%;
  font-size: 15px;
  background-color: white;

  border: 2px solid #c4c4c4;
  line-height: 2;
  padding: 5px;
}
